.startPos {
    position: absolute;
    top: 45%;
    left: 48%;
    width: 100px;
    height: 150px;
    background:black;
    border:solid 2px orange;
}
.startPos > img{
    width: 100%;
    height: 100%;
}
